.image-loader {
  width: 90%;
  height: 250px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 8px;
  padding-bottom: 8px;
}

.image-displayer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 250px;
  box-sizing: border-box;
}

.image-loaded {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 600px) {
  .image-displayer {
    max-width: 768px;
    min-width: 600px;
    width: auto;
    height: 400px;
    padding: 0;
  }

  .image-loader {
    max-width: 768px;
    width: auto;
    min-width: 600px;
    height: 400px;
    padding: 0;
  }
}
